<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css"/>
    <title>Shop</title>
</head>

<body>
    <header class="bg-warning">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active bg-success  text-warning" href="/">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bg-warning text-success" href="/admin/add-products">Add Products</a>
            </li>
          </ul>
    </header>
    <br /><br />
    <main class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://pngimg.com/uploads/book/book_PNG2111.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Book</h5>
              <p class="card-text">$19.99</p>
              <button type="submit" class="btn btn-success">Add to cart</button>
            </div>
          </div>
    </main>
</body>

</html>